<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <!-- res.render() এর সাথে পাঠানো ডাটা .ejs ফাইল এ ব্যবহার করতে হলে এই নিয়ম (<%= ভেরিয়াবল এর নাম / অবজেক্ট প্রোপার্টির নাম %>) অনুসরণ করতে হবে -->
    <h1>This is <%=title%></h1>
  </body>
</html>
